<h2>Listado de heroes</h2>

<!--* 'deletedHero' comienza siendo un valor 'undefined' y este es un valor falsy -->
<!--* Lo siguiente, esta bien.. Pero no esta bueno que angular evalue dos veces lo mismo... -->
<!-- <h4 *ngIf="deletedHero">Heroe borrado: <small class="text-danger"> {{ deletedHero }} </small></h4>
<h3 *ngIf="!deletedHero">No ha borrado nada</h3> -->

<!--* Entonces haremos lo siguiente: -->
<div *ngIf="deletedHero; else nothingWasDeleted"> <!-- Es una referencia local, si no se cumple, la busca y la muestra -->
  <h4>Heroe borrado: <small class="text-danger"> {{ deletedHero }} </small></h4>
</div>

<ng-template #nothingWasDeleted>
  <!-- Este 'ng-template' es como si fuera un div "que no existe" tipo <>. Y esta esperando cuando mostrar el contenido -->
  <h3>No ha borrado nada</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastHero()"
  class="btn btn-outline-danger">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
  <!-- Estamos haciendo un listado, pero tambien podemo hacerlo con ngFor -->
  <!-- <li class="list-group-item">Spiderman</li>
  <li class="list-group-item">Iron-man</li>
  <li class="list-group-item">Hulk</li>
  <li class="list-group-item">Thor</li> -->

  <li *ngFor="let name of heroNames"
      class="list-group-item">
      {{ name }}
  </li>

</ul>
<div class="mb-5"></div>


